
.about-section{
  color: $dark-color;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  height: 300px;
  height: auto;

}

.about-logo {
  width: 333px;
  height: 230px;
  padding: 0 15px;
  text-align: center;
  h3 {
    font-size: $h3-font-size;
    font-weight: $bold;
  }
}

.about-description{
  width: 400px;
  height: 230px;
  padding: 0 15px;
}
.about-description-responsive{
  display: none;
}
.about-img{
  width: 333px;
  height: 230px;
  padding: 0 5px;
}
//Large breakpoint
@media screen and (max-width: 930px) {
  .about-description{
    p {
      font-size:$body-font-size-sm;
    }
  }

  .about-logo{
    h3 {
      font-size:$h4-font-size;
    }
  }

}
//Medium breakpoint
@media screen and (max-width: 825px) {

  .about-section{
    flex-wrap: wrap;
    justify-content: center;
  }
  .about-description{
    display: none;
  }
  .about-description-responsive{
    display: inline;
    text-align: left;
    padding:0 20px;
    width: 666px;
  }
}

@media screen and (max-width: 680px) {

  .about-logo {
    height: 180px;
  }

  .about-description {
    display: flex;
    text-align: left;
    width: 333px;
    height: 180px;
    padding: 0;
  }

  .about-description {
    display: none;
  }
  .about-img{
    display: none;
  }
}

// @media screen and (max-width: 670px) {
//   .about-logo{
//     width: 450px;
//   }
//   .about-description{
//     width: 450px;
//     padding: 0 20px;
//   }
//
// }
