//
// #messageArea {
//   resize: none;
//   width: 50px;
//   height: 50px;
// }


.contact-section {
  color: $secondary-color;
  height: auto;
  background: $alternative-color-dark;
}

.contact-container {
  background: $alternative-color-dark;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 20px;
  h2{
    font-size: $h2-font-size;
    font-weight: $bold;
    text-transform: uppercase;
    padding: 20px;
  }
}

.signup-info {

  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  p{
    margin-top: 10px;
    padding: 0 10px;
  }

  // button {
  //   background-color: darken($secondary-color, 10%);
  //   margin-top: 40px;
  //   padding: 15px 50px;
  //   text-align: center;
  // }
  button, input,textarea {
    width: 90%;
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
    resize: none;
  }

  input.button {
    background: darken($secondary-color, 10%);
  }

  // input:valid {
  //   border: 2px solid $alternative-color-dark;
  // }
  // input:invalid {
  //   border: 2px dashed red;
  // }

}



.contact-info{
  background: $alternative-color-dark;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items:center;

}

.contact-title {
  display: flex;
  flex-direction: row;
  align-items: center;

}

.email {
  display: flex;
  flex-direction: row;
  align-items: center;

}

.phone {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 20px;
}

.address {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 20px;
}


@media screen and (max-width: 650px) {
  .contact-container {
    flex-direction: column;
    text-align: center;
  }
  .signup-info {
    button, input, textarea {
      width: 300px;
    }
  }
}
