.about-container {
  min-height: 700px;
}

.img-container {

  background-image: url(../assets/images/mission-2.jpg);
  background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

  width: 600px;
  height: 400px;
  margin: 15px;
}
