/*-----------*/
/* CSS RESET */
/*-----------*/
html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
          box-sizing: inherit; }

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: normal; }

ol, ul {
  list-style: none; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

textarea {
  -webkit-appearance: textarea;
  background-color: white;
  -webkit-rtl-ordering: logical;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  resize: none;
  cursor: text;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  border-width: 1px;
  border-style: solid;
  border-color: initial;
  -webkit-border-image: initial;
     -moz-border-image: initial;
       -o-border-image: initial;
          border-image: initial;
  padding: 2px; }

body, a, p, ol, ul, li {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400; }

h1 {
  font-size: 40px; }

h2 {
  font-size: 30px; }

html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
          box-sizing: inherit; }

body {
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto; }

@media screen and (max-width: 930px) {
  font-size: 14px; }

button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  width: 175px;
  padding: 10px 35px;
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: #275DAD;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  border: none;
  cursor: pointer;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease; }

button:hover,
button:active,
button:focus,
input[type="submit"]:hover {
  outline: 0;
  -webkit-transform: scale(1.01);
     -moz-transform: scale(1.01);
      -ms-transform: scale(1.01);
       -o-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-transform: translateY(3px);
     -moz-transform: translateY(3px);
      -ms-transform: translateY(3px);
       -o-transform: translateY(3px);
          transform: translateY(3px); }

.subtitle {
  padding: 50px 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0;
  height: 150px; }
  .subtitle h2 {
    font-size: 30px;
    font-weight: 700;
    color: #5B616A; }

.title-break {
  width: 160px;
  height: 3px;
  border: solid 3px #5B616A;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px; }

.page-title {
  padding-top: 100px;
  padding-left: 15px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 30px;
  font-weight: 700;
  color: #5B616A; }

.page-subheading {
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: 700; }

@media screen and (max-width: 600px) {
  .page-title {
    font-size: 24px; } }

nav {
  height: 60px;
  width: 100%;
  background-color: #3F434A;
  position: fixed;
  line-height: normal;
  color: white; }

.nav-container {
  margin: 0 auto;
  padding: 0;
  height: 60px;
  color: #CCC7B9;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  max-width: 1100px; }

ul.nav-list {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }
  ul.nav-list li a {
    padding-top: 20px;
    padding-right: 15px;
    display: block;
    text-align: center;
    width: 100%;
    height: 60px;
    font-weight: 700; }
  ul.nav-list li a:hover {
    color: #CCC7B9; }
  ul.nav-list a:link {
    color: white; }
  ul.nav-list a:visited {
    color: white; }

.toggle-nav-menu {
  display: none; }

.toggle-nav-menu:hover {
  background-color: #737a85; }

.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .logo p {
    font-weight: 700;
    color: white; }

.hide {
  visibility: hidden; }

@media screen and (max-width: 600px) {
  .toggle-nav-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
    position: fixed; }
  .logo {
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
    margin-top: 30px; }
  .nav-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  ul.nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 30px; }
    ul.nav-list li a:first-child {
      border-top: 1px solid #2c2f33; }
    ul.nav-list li a {
      display: inline-block;
      border-bottom: 1px solid #2c2f33;
      width: 610px;
      background-color: #43484f; }
    ul.nav-list li a:hover {
      color: #CCC7B9;
      background-color: #737a85; }
  @-moz-document url-prefix() {
    .logo {
      margin-top: 0px; } }
  @-moz-document url-prefix() {
    ul.nav-list {
      margin-top: 0px; } } }

@media screen and (min-width: 601px) {
  ul.nav-list {
    visibility: visible; } }

header {
  height: 100%; }

.hero {
  /* The image used */
  background-image: url("../assets/images/hero-image.jpg");
  /* Full height */
  width: 100vw;
  height: 100vh;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: white;
  text-transform: uppercase; }
  .hero h1 {
    font-size: 40px;
    font-weight: 900; }
  .hero h2 {
    font-size: 30px;
    font-weight: 900; }

.hero-btn {
  margin-top: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .hero-btn a {
    text-align: center; }
  .hero-btn button {
    text-align: center; }

.hero-btn button {
  margin: 5px; }

.button-secondary {
  background-color: #CCC7B9; }

@media screen and (max-width: 600px) {
  .hero {
    background-image: url("../assets/images/hero-image-md.jpg");
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover; }
    .hero h1 {
      font-size: 30px; }
    .hero h2 {
      font-size: 24px; }
  .hero-btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

@media screen and (max-width: 320px) {
  .hero h1 {
    font-size: 24px; }
  .hero h2 {
    font-size: 16px; }
  .hero-btn button {
    font-size: 12px;
    padding: 10px 20px; } }

.mission-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 300px;
  height: auto;
  color: #5B616A; }

.mission-logo {
  width: 333px;
  height: 230px;
  padding: 0 15px;
  text-align: center; }
  .mission-logo h3 {
    font-size: 24px;
    font-weight: 700; }

.mission-description {
  width: 400px;
  height: 230px;
  padding: 0 15px; }

.mission-description-responsive {
  display: none; }

.mission-img {
  width: 333px;
  height: 230px;
  padding: 0 5px; }

@media screen and (max-width: 930px) {
  .mission-description p {
    font-size: 14px; }
  .mission-logo h3 {
    font-size: 20px; } }

@media screen and (max-width: 825px) {
  .mission-section {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .mission-description {
    display: none; }
  .mission-description-responsive {
    display: inline;
    width: 666px;
    padding: 0 20px;
    text-align: left; } }

@media screen and (max-width: 680px) {
  .mission-logo {
    height: 180px; }
  .mission-description {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 333px;
    height: 180px;
    padding: 0;
    text-align: left; }
  .mission-description {
    display: none; }
  .mission-img {
    display: none; } }

.services-section {
  margin-top: 50px;
  padding-bottom: 50px;
  background-color: #5B616A;
  color: #CCC7B9;
  height: auto; }
  .services-section h2 {
    color: #CCC7B9; }
  .services-section h3 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700; }
  .services-section p {
    font-size: 16px; }

.services-cards {
  padding: 0 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .services-cards img, .services-cards h3, .services-cards p, .services-cards button {
    margin-top: 20px; }
  .services-cards .card {
    width: 330px;
    padding: 0 5px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .services-cards .card-img {
    width: 320px;
    height: 200px; }

.title-break-services {
  width: 160px;
  height: 3px;
  border: solid 3px #CCC7B9;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px; }

.button-services {
  background-color: #CCC7B9; }

@media screen and (max-width: 920px) {
  .services-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .services-cards img, .services-cards h3, .services-cards p, .services-cards button {
      margin-top: 15px; }
    .services-cards h3 {
      font-size: 20px; }
    .services-cards p {
      font-size: 14px; }
    .services-cards .card {
      margin-top: 40px;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
         -moz-box-orient: horizontal;
         -moz-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      width: 95%; }
  .card-description {
    padding-left: 20px;
    padding-top: 0; } }

@media screen and (max-width: 620px) {
  .services-cards {
    padding: 0; }
    .services-cards .card {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
         -moz-box-orient: vertical;
         -moz-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 340px; }
    .services-cards .card-description {
      padding: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
         -moz-box-orient: vertical;
         -moz-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.students-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 15px 50px 15px;
  color: #5B616A;
  background: white;
  height: auto; }
  .students-section p {
    padding: 0 35px; }

.student {
  padding-top: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .student .student-img {
    padding: 0 25px; }
  .student img {
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    width: 160px;
    height: 160px; }
  .student p {
    padding: 0 25px; }

.hide-text {
  display: none; }

@media screen and (max-width: 850px) {
  .students-section p {
    padding: 0 15px;
    text-align: center; }
  .student {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    text-align: center; }
    .student .student-img {
      padding: 0 5px; }
    .student img {
      width: 140px;
      height: 140px; }
    .student p {
      padding: 15px 15px; } }

@media screen and (max-width: 650px) {
  .student {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .hide-text-mobile {
    display: none; }
  .hide-text {
    display: inline; } }

.partners-section {
  background: #F4F1EA;
  color: #5B616A;
  height: auto;
  padding-bottom: 50px; }

.partners-container {
  padding: 0 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  text-align: center; }
  .partners-container h3 {
    padding-top: 10px; }
  .partners-container h3 a {
    color: #5B616A;
    font-size: 24px;
    font-weight: 700; }

.partners {
  padding-top: 15px;
  padding-bottom: 15px; }
  .partners .partners-img {
    width: 70px;
    height: 60px; }

@media screen and (max-width: 650px) {
  .partners-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

.contact-section {
  color: #CCC7B9;
  height: auto;
  background: #144081; }

.contact-container {
  background: #144081;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  padding-bottom: 20px; }
  .contact-container h2 {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px; }

.signup-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
     -moz-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .signup-info p {
    margin-top: 10px;
    padding: 0 10px; }
  .signup-info button, .signup-info input, .signup-info textarea {
    width: 90%;
    padding: 5px;
    margin: 5px;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    resize: none; }
  .signup-info input.button {
    background: #b7af9b; }
  .signup-info input:invalid {
    border: 2px solid red; }

.contact-info {
  background: #144081;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
     -moz-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.contact-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.email {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.phone {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px; }

.address {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px; }

@media screen and (max-width: 650px) {
  .contact-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center; }
  .signup-info button, .signup-info input, .signup-info textarea {
    width: 400px; } }

.seminar-section {
  background: #F4F1EA;
  color: #5B616A;
  padding: 35px 15px;
  height: auto; }

.seminar-date {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center; }
  .seminar-date h2 {
    font-size: 30px;
    font-weight: 700; }

.seminar-address {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center; }

@media screen and (max-width: 650px) {
  .seminar-date h2 {
    font-size: 24px; } }

@media screen and (max-width: 470px) {
  .seminar-date {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

footer {
  background: #43484f;
  color: #CCC7B9;
  padding: 15px;
  text-align: center; }
  footer p {
    font-size: 12px; }

.service {
  margin: 60px auto;
  padding: 15px 15px;
  color: white;
  height: auto; }

.service-title {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 20px; }

.service-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  padding-top: 15px;
  padding-bottom: 50px; }
  .service-content ul {
    margin-left: 20px;
    padding-right: 15px;
    padding-left: 15px;
    list-style: circle; }
    .service-content ul li {
      padding-bottom: 10px; }
  .service-content img {
    width: 320px;
    height: 200px; }

.service-one {
  background: #144081; }

.service-two {
  background: #b7af9b; }

.service-three {
  background: #5B616A; }

@media screen and (max-width: 675px) {
  .service-title {
    text-align: center; }
  .service-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
       -moz-box-orient: vertical;
       -moz-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .service-content ul {
      margin-top: 20px; }
    .service-content img {
      margin-top: 20px; } }

.requirements-container {
  width: 100%;
  height: auto;
  min-height: 700px;
  background: white; }

.info-container {
  color: #5B616A;
  padding: 30px 15px 20px 15px; }
  .info-container p {
    margin-top: 15px; }

.about-container {
  min-height: 700px; }

.img-container {
  background-image: url(../assets/images/mission-2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  width: 600px;
  height: 400px;
  margin: 15px; }
