// Color Variables
$primary-color: white;
$secondary-color: #CCC7B9;
$background-color: #5B616A;
$background-color-alt: #F4F1EA;
$background-color-dark: #3F434A;
$alternative-color: #275DAD;
$alternative-color-dark: #144081;
$light-color: green;
$dark-color: #5B616A;
