//Fonts
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
$alternative-font: 'Roboto', sans-serif;

//Font Weight
$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;
$extra-bold: 900;

//Font Size
$title-font-size: 66px;
$h1-font-size: 40px;
$h2-font-size: 30px;
$h3-font-size: 24px;
$h4-font-size: 20px;
$body-font-size: 16px;
$body-font-size-sm: 14px;
$alternative-font-size:12px;
